{% extends request.ajax ? "layout_blank.html.twig" : "layout_default.html.twig" %}

{% block meta_title %}{{ 'System health'|trans }}{% endblock %}

{% set active_menu = 'health' %}
{% set checks = admin.health_list_checks %}

{% block content %}
	<div class="card">
		<div class="card-header">
			<h3 class="card-title">{{ 'System health'|trans }}</h3>
            <div class="card-actions">
                <a href="{{ 'api/admin/health/run_checks'|link }}" class="btn btn-primary api-link" data-api-reload="1">
                    <svg class="icon">
                        <use xlink:href="#refresh" />
                    </svg>
                    Re-run the checks
                </a>
            </div>
        </div>
		<!-- First card -->
		<div class="card-body">

			<div class="row row-cards">

            {% for check in checks %}
            
            <div class="col-md-6 col-xl-3">
					<div class="card card-sm">
						<div class="card-body">
							<div class="row align-items-center">
								<div class="col-auto">
									<span class="bg-green-lt avatar">
										<svg class="icon">
											<use xlink:href="#check"/>
										</svg>
									</span>
								</div>
								<div class="col">
									<div class="font-weight-medium">{{ check.details.title }}</div>
									<div class="text-muted"></div>
								</div>
							</div>
						</div>
					</div>
				</div>

            {% endfor %}

				<div class="col-md-6 col-xl-3">
					<div class="card card-sm">
						<div class="card-body">
							<div class="row align-items-center">
								<div class="col-auto">
									<span class="bg-red-lt avatar">
										<svg class="icon">
											<use xlink:href="#close"/>
										</svg>
									</span>
								</div>
								<div class="col">
									<div class="font-weight-medium">Folder permissions</div>
									<div class="text-muted">Problems found</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	{% endblock %}
